/* Variables */
:root {
	--mainFont: 'Lora', serif;
	--primary: #05bae6;
	--secondary: #db008d;
	--gray: #e5e5e5;
	--white: #fff;
	--black: #000;
}

/* Boxing Reset */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
/* ------------------------------- */

/* Global */
img {
	max-width: 100%;
}
body {
	font-family: var(--mainFont);
	font-size: 1.2rem;
}
p {
	line-height: 2;
}
/* ------------------------------- */

/* Header */
.site-header {
	padding: 2rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.site-header img {
	max-width: 80%;
}

/* Main Navigation */
.main-navigation {
	background-color: var(--primary);
	padding: 1rem 0;
}
.main-navigation ul {
	max-width: 800px;
	margin: 0 auto;
	list-style: none;

	display: flex;
	flex-direction: column;
}
@media (min-width: 768px) {
	.main-navigation ul {
		flex-direction: row;
		justify-content: space-between;
	}
}
.main-navigation ul li {
	text-align: center;
}
.main-navigation ul li:not(:last-child) {
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.main-navigation ul li:not(:last-child) {
		margin-bottom: 0;
	}
}
.main-navigation ul li a {
	color: var(--white);
	text-decoration: none;
	font-size: 1.4rem;
}

/* Content */
.content {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.content {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.main-content {
		flex: 0 0 70%;
	}
	.sidebar {
		flex: 0 0 30%;
		order: -1;
	}
}

/* Sidedar */
.sidebar {
	background-color: var(--gray);
	padding: 2rem;
}
.sidebar h2 {
	text-align: center;
}
.sidebar ul {
	list-style: none;
}
.sidebar ul li:not(:last-child) {
	margin-bottom: 0.8rem;
}
.sidebar a {
	text-decoration: none;
	color: var(--black);
}
.sidebar a:hover {
	color: var(--secondary);
}

/* Main Content */
.main-content {
	padding: 2rem;
}

/* Footer */
.site-footer {
	background-color: var(--secondary);
	color: var(--white);
	font-size: 1rem;
	flex: 1;
}
.site-footer p {
	margin: 0;
	padding: 1rem 0;
	text-align: center;
}
